<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeleteLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DeleteLine.Properties.Settings>
            <setting name="CompanyName" serializeAs="String">
                <value>Company name</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="ReturnCodeOK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReturnCodeKO" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ReturnCodeHeaderMissing" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReturnCodeFooterMissing" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ReturnCodeFileName" serializeAs="String">
                <value>ReturnCode.txt</value>
            </setting>
        </DeleteLine.Properties.Settings>
    </userSettings>
</configuration>
